{% extends 'base.html.twig' %}

{% block title %}{{ platform.name }}{% endblock %}

{% block body %}

    <h1 class="nes-text is-success">{{ platform.name }}</h1>

    <section class="flex">

        {% include 'menu.html.twig'%}

        <div>
            <figure>
                <img src="../img/platform/{{ platform.img }}" alt="Logo {{ platform.name }}" class="img"/>
            </figure>
            <p>{{ platform.presentation }}</p>
        </div>

    </section>

{% endblock %}