{% extends 'base.html.twig' %}

{% block title %}{{ platform.name }}{% endblock %}

{% block body %}

    <h1 class="nes-text is-success">{{ platform.name }}</h1>

    <section class="flex">

        {% include 'menu.html.twig'%}

        <div>
            <figure>
                <img src="../img/platform/{{ platform.img }}" alt="Logo {{ platform.name }}" class="img"/>
            </figure>
            <p>{{ platform.presentation }}</p>
        </div>

    </section>

    <section class="ml">
        <div class="nes-container is-rounded is-dark">
            <table>
                <thead>
                <tr>
                    <th>Titre dispo sur la console</th>
                </tr>
                </thead>
                <tbody>

                {% for game in games %}

                    <tr>
                        <td><a href="{{ path('game', {'id': game.id}) }}">{{ game.name }}</a></td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
    </section>

{% endblock %}